* contentHeader{
  margin: 0;
  padding: 0;
}

body {
  height: 150vh;
}

.contentHeader {
  padding: 11px;
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #E5E7EB;
}

.image-box {
  display: flex;
  margin-top: 98px;
  justify-content: center;
}

.thumbnail {
  max-height: 180px;
  /* max-width: none; */
}

.all_community{
  /* width: 100%; */
  /* max-width: 800px; */
  margin: 100px auto 0;
  padding: 0px 17px;
  box-sizing: border-box;
}
.community_title{
  font-weight: bolder;
  font-size: 23px;
  margin:0 0 5px 20px;
  color: #0ea5e9;
  width: 300px;
}

.text1 , .text2{
  margin-top: 20px;
  text-align: center;
  width: 100%;
  /*justify-content: space-evenly;*/
}
.text1_img , .text2_img{
  vertical-align: middle;
  width: 100% ;
  height: auto;
}

.article_title{
  margin: 10px 0 0 5px;
  font-size: 16px;
  font-weight: bold;
}
.article_box {
  margin: 0 20px;
}
.article_box > .box1 , .box2{
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  flex: 1; 
  box-sizing: border-box; padding: 10px;
  box-shadow: 0px 0px 30px #dbe0e8;
  transition: transform 0.3s;
}
.box1{
  margin-right: 60px;
}

.article_box > .box1:hover {
  transform: scale(1.05);
}
.article_box > .box2:hover {
  transform: scale(1.05);
}

.blogHead{
  display: flex;
  margin: 8px 0 0 11px;
}
.blogHead > .board_block {
  padding: 13px 0 0 4px;
}
.blogHead > .writer{
  /* width: 100%; */
  padding-right: 10px;
}

.blogHead > .date {
  opacity: 0.7;
  font-size: 12px;
}

.write_date > .eye {
  /* padding-right: 8px; */
  font-size: 12px;
}

.board_wrap {
  /* width: 100%; */
  /* display: inline-block; */
}

.writeButton {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #0ea5e9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.237);
}

.contentHeader {
  padding: 0  0 14px;
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #E5E7EB;
}


.contentHeader a {
  color: #6B7280;
  text-decoration: none;
}
.contentHeader span {
  color: #6B7280;
  text-decoration: none;
  cursor: pointer;
}

.date {
  color: #6B7280;
  font-size: 12px;
}

.writer {
  /* margin-right: 50px; */
  color: #6B7280;
  font-size: 12px;
}

/*중간정보*/
.news_container{
  max-width: 850px ;
  width: 100%;
  margin:25px auto;
  
}
.community_title {
  text-align: left;
}
.wrap_title > button{
  border-radius: 40px;
  font-size: 14px;  
  color: #9CA3AF;
  border: none;
}

.news_content {
  display: flex;
  height: 130px;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 0 8px;
  padding: 0 0 10px;
  border-bottom: 1px solid #dbe0e8;

}
.news_content > .content_box {
  width: 100%;
  border: 1px solid black;

}
.box_title {
  font-weight: 400;
  margin-bottom: 20px;
  color: #373e46;
  max-width: 100px;
  border: 1px solid black;
  height: 50px;
  word-wrap: break-word;
}

.talk_container{
  margin: 0 auto 70px;
  width: 850px;
}
.talk_content {
  margin-top: 5px;
}
.talk_box{
  margin: 5px;
}

.talk_title {
  font-weight: 400;
  color: #373e46;

}
.talk_subTitle{
  color: #9CA3AF;
  font-size: 11px;
  margin: 5px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.talk_oppor {
  color: #6B7280;
  font-size: 10px;
  display: flex;
  width: 700px;
}
.talk_oppor > div {
  margin-right: 10px;
}

.section {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section:hover {
  background-color: #2980b9;
}

.content {
  display: none;
  padding: 10px;
}

.active {
  display: block;
}

.talk_content{
  height: 50px;
}

.contentEx {
  display: flex;
  border-bottom: 1px solid #dbe0e8;
  padding: 8px 0 15px;
}
.contentEx img {
  max-width: 130px; /* 이미지 최대 너비 */
  margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
  border-radius: 0;
}
.bi-person{
  color: #9CA3AF;
  font-size: 10px;
}

/* 하단톡톡 */
.contentEx2 {
  display: flex;
  flex-direction: column; 
  max-width: 850px;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid #dbe0e8;
}

.title {
  margin-bottom: 7px; 
}
.example{
  margin-bottom: 5px;
  font-size: 11px;
}
.info {
  display: flex;
  justify-content: space-between; 
  color: #888; 
  font-size: 10px;
  width: 200px;
}

@media (max-width: 480px) {

  .image-box {
    padding: 0 10px;
  }
}
