body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
}

form {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 400px;
}


form text-field {
  width: 100%;
}

form custom-button {
  width: 100%;
}