* {
    margin: 0;
    padding: 0;
}

.board_wrap {
    margin: 30px 0 50px;
}

.board_wrap>.tip_title {
    font-weight: bolder;
    font-size: 23px;
    color: #0ea5e9;
    margin-bottom: 5px;
}

.board_page {
    text-align: center;
    margin-top: 60px;
    margin: auto;
    white-space: nowrap;
}

.board_page a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 183%;
}

.board_page a.num.on {
    border: 2px solid 999;
    border-radius: 50%;
    background-color: skyblue;
    color: white;
}

.panel-group {
    width: 800px;   
}
.panel {
    border: 1px solid #c4d2e5;
}
.panel-body{
    font-size: 15px;
}
#astyle{
    font-weight: 550;
    color: #6B7280;
}

.writer {
    color: #6B7280;
    font-size: small;
}
.date{
    color: #6B7280;
    font-size: small;
}
.bi-person {
    color: black;
    margin-right: 3px;
}